@if (addClientForm) {
  <form [formGroup]="addClientForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="firstName">
        {{ 'CLIENTS_PAGE.FIRST_NAME' | translate }}
      </label>
      <input type="text" id="firstName" formControlName="firstName" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="lastName">
        {{ 'CLIENTS_PAGE.LAST_NAME' | translate }}
      </label>
      <input type="text" id="lastName" formControlName="lastName" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
        {{ 'CLIENTS_PAGE.PHONE' | translate }}
      </label>
      <input type="text" id="phone" formControlName="phone" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        {{ 'CLIENTS_PAGE.EMAIL' | translate }}
      </label>
      <input type="text" id="email" formControlName="email" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="address">
        {{ 'CLIENTS_PAGE.ADDRESS' | translate }}
      </label>
      <input type="text" id="address" formControlName="address" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="postCode">
        {{ 'CLIENTS_PAGE.POSTAL_CODE' | translate }}
      </label>
      <input type="text" id="postCode" formControlName="postCode" pInputText class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Type
      </label>
      <p-dropdown [options]="types" formControlName="type" placeholder="Select a Type" [showClear]="false"></p-dropdown>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="notes">
        {{ 'CLIENTS_PAGE.NOTES' | translate }}
      </label>
      <textarea id="notes" formControlName="notes" pInputTextarea rows="3" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button pButton type="submit" [disabled]="addClientForm.invalid || isDisabled()" [label]="client ? 'Update Client': 'Add Client'" (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"></button>
      <button pButton type="button" label="Cancel" (click)="onCancel()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"></button>
    </div>
  </form>
}